/* ///////////////////////// GENERAL /////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700;900&family=Lobster&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
}

/* ------------- Variables -------------- */

:root {
	--title_color: hsl(32, 57%, 81%);
	--text_color: hsl(32, 57%, 81%);
	--primary_color: hsl(212, 47%, 42%);
	--secondary_color: hsl(41, 49%, 12%);
	--header_font: 'Lobster', cursive;
	--primary_font: 'Roboto', sans-serif;
	--secondary_font: 'Archivo', sans-serif;

	--title_color: hsl(212, 46%, 22%);
	--text_color: hsl(0, 0%, 0%);
	--bg_color: hsl(32, 57%, 96%);
	--primary_color: hsl(212, 46%, 92%);
	--secondary_color: #97b5d8;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--primary_font);
	color: var(--text_color);
	display: flex;
	justify-content: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	background: linear-gradient(135deg, var(--bg_color) 0%, rgba(255,255,255) 100%);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-width: 1920px;
	min-height: 100vh;
}

.wrapper:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-image: url(../img/bg_img.png);
}

.content {
	position: relative;
	width: 100%;
}

.header {
	width: 100%;
	padding: 0.5em 0;
	font-size: min(max(1.5rem, 7vw), 60px);
	font-family: var(--header_font);
	color: var(--title_color);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.header__logo {
	font-size: 1.2em;
}

.header__title {
	padding-top: 5px;
}

.pagemenu {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	padding: 1em 15px;
	gap: 15px;
}

.pagecontainer {
	background-color: var(--primary_color);
	border-radius: 3px;
	border: 2px solid var(--title_color);
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	/* padding: 0.5rem 0.5rem 0; */
	/* aspect-ratio: 3 / 3; */
	overflow: hidden;
}

.pagecontainer:hover {
	transform: scale(1.02);
	transition: transform .1s;
  }


.page {
	height: 100%;
	padding: 0 0em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.page:hover > img {
	z-index: -2;
	transition: z-index 0.3s;
}

.page:hover .page__description {
	opacity: 0.92;
	transition: opacity 0.3s;
}

.page__title {
	width: 100%;
	padding: 0.5em;
	border-top: 2px solid var(--title_color);
	color: var(--title_color);
	font-family: var(--secondary_font);
	font-size: 1.2rem;
	font-weight: 600;
}

.page__thumbnail {
	width: 100%;
	aspect-ratio: 4/3;
}

.page__description {
	padding: 0 1rem 0.5rem;
}


@media (min-width: 768px) {
	.page__description {
		width: 100%;
		aspect-ratio: 4 / 3;
		padding: 0.5em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: flex;
		align-items: center;
		background-color: var(--primary_color);
		opacity: 0;
	}
}

#compact_about {
	padding: 0.4rem 1rem;
}

@media (min-width: 768px) {
	#compact_about {
		display: none;
	}

	#spread_about {
		display: flex
	}
}

.about {
	position: fixed;
	background-color: white;
	border-radius: 5px 5px 0 0;
	border: 1px solid var(--primary_color);
	padding: 0.5rem 1rem;
	bottom: 0;
	right: 0;
	font-size: 0.8rem;
	display: flex;
	gap: 1rem;
}

.about__link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
}

#hide_about {
	margin-left: -10px;
	color: rbg(90, 90, 90)
}

@media (min-width: 768px) {
	#hide_about {
		display: none
	}
}

.hidden {
	display: none;
}