@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

:root {
  --bg-main-color: #FFFFFE;
  --bg-extra-color: #2D3142;
  --main-color: #0026FF;
  --extra-color: #FFD900;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-main-color);
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}


/* Heading */

h1 {
  margin: 0;
  padding: 50px 20px;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--bg-extra-color);
  letter-spacing: 2px;
}

.span_accent {
  margin-right: 10px;
  padding: 10px 40px;
  border-radius: 100vh;
  border: 2px solid var(--extra-color);
}


/* Layout Styling */

.container {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


/* Button Styles */

.button {
  padding: 10px 40px;
  background-color: var(--main-color);
  border-radius: 100vh;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}


/* First Button */

.arrow_hover {
  position: absolute;
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
  transition: all .5s cubic-bezier(.14, .59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

#arrow_hover_1 {
  transform: translateX(120px);
}

#arrow_hover_2 {
  transform: translateX(130px);
}

a#button_1:hover svg {
  opacity: 1;
  transform: translateX(88px);
}


/* Second Button */

#button_2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button_2 a {
  position: relative;
  transition: all .35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: var(--extra-color);
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button_2:hover #slide {
  left: 0;
}

#button_2:hover a {
  color: black;
}


/* Third Button */

#button_3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button_3 a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: var(--extra-color);
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button_3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button_3:hover a {
  color: black;
}


/* Fourth Button */

#button_4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button_4 a {
  position: relative;
  transition: all .45s ease-Out;
}

#underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: var(--extra-color);
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button_4:hover #underline {
  left: 0;
}


/* Fifth Button */

#button_5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button_5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: var(--extra-color);
  position: absolute;
  transition: all .3s ease-Out;
}

#button_5:hover #translate {
  left: 0;
}

#button_5:hover a {
  color: black;
}


/* Sixth Button */

#button_6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button_6 a {
  position: relative;
  transition: all .45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button_6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: var(--extra-color);
  transform: rotate(80deg);
}

#button_6:hover a {
  color: black;
}


/* Seventh Button */

#button_7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button_7 a {
  position: relative;
  left: 0;
  transition: all .35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: var(--extra-color);
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button_7 img {
  width: 20px;
  height: auto;
}

#button_7:hover #dub-arrow {
  left: 0;
}

#button_7:hover a {
  left: 150px;
}
  