@font-face {
    font-family: funnyFont;
    src: url(LuckyCoin-3zA46.ttf);
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: funnyFont;
    color: hsl(45, 54%, 17%);
    font-size: 20px;
    margin: 0; 
    padding: 0; 
    display: flex;
}

a {
    text-decoration: none;
    display: inline;
}

@media (orientation: landscape) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 100vh;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 100vh;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

#stats {
    z-index: 10;
    position: fixed;
    top: 10px;
    left: 0;
    width: calc(100%);
    padding: 0 10px 0 20px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

#stats > div {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

#stars > * {
    padding: 0 1px;
}

#star {
    margin-top: -2px;
    width: 1.25rem; 
    aspect-ratio: 1/1
}

#time {
    margin-right: auto;
}

#help {
    cursor: pointer;
}

#go_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3rem;
    /* animation: fadeOut cubic-bezier(0.7, 0, 0.84, 0) 1.2s;
    animation-fill-mode: forwards; */
}

.fadeout {
    animation: fadeOut cubic-bezier(0.7, 0, 0.84, 0) 1.2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0}
}

#help_menu_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    width: 90%;
    max-width: 500px;
    max-height: 70vh;
    padding: 10px 0 20px;
    border-radius: 16px;
    border: 3px solid rgba(14, 85, 38, 0.677);
    background-color: hsl(197, 51%, 81%);
    display: flex;
}

#help_menu_container > div {
    overflow-y: scroll;
}


#help_menu_content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#help_menu_content > img {
    margin: auto;
    max-width: 240px;
}

#close_help_menu {
    text-align: right;
}

#close_button {
    font-size: 2rem;
    cursor: pointer;
}

#help_menu_end {
    display: flex; 
    align-items: center;
}

#good_luck {
    margin-right: auto;
}

#restart_game {
    font-size: 1.2rem;
}

#win_modal, #lose_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 16px;
    border: 3px solid rgba(14, 85, 38, 0.677);
    background-color: hsl(197, 51%, 81%);
    text-align: center;
}

.dialog_img {
    margin: auto;
    max-width: 80px;
}

.hide {
    display: none !important;
}

#mobile_controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100%);
    border-radius: 5px;
    border: 2px solid #5ABA4A;
    background-color: rgb(14, 85, 38);
    padding: 5px 30px;
    display: none;
}

@media (orientation: portrait) {
    #mobile_controls {
        display: flex;
        align-items: center;
    }
}

.arrows_container {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: auto;
}

.arrow {
    aspect-ratio: 1/1;
    padding: 1.2rem;
    background-color: #5ABA4A;
    border-radius: 100%;
}

.arrow_svg {
    transform: scale(2) translateY(2px);
    width: 30px;
}

#jump {
    aspect-ratio: 1/1;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: #5ABA4A;
    display: flex;
    align-items: center;
}