@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

:root {
  --bg-main-color: #ebf2ff;
  --bg-extra-color: #2D3142;
  --main-color: #0026FF;
  --extra-color: #FFD900;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, var(--bg-main-color), #fefeff, var(--bg-main-color));
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Heading */

h1 {
  align-self: stretch;
  margin: 0;
  padding: 40px 20px;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--bg-extra-color);
  letter-spacing: 2px;
}

.span_accent {
  margin-right: 10px;
  padding: 10px 40px;
  border-radius: 100vh;
  border: 2px solid var(--extra-color);
}


/* Layout Styling */

.container {
  max-width: 1280px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}


/* Button Styles */

.button {
  padding: 10px 40px;
  background-color: var(--main-color);
  border-radius: 100vh;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}


/* 1st Button */

.arrow_hover {
  position: absolute;
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
  transition: all .5s cubic-bezier(.14, .59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

#arrow_hover_1 {
  transform: translateX(120px);
}

#arrow_hover_2 {
  transform: translateX(130px);
}

#button_1:hover .arrow_hover {
  opacity: 1;
  transform: translateX(88px);
}


/* 2nd Button */

#button_2 a {
  z-index: 1;
  transition: all .35s ease-Out;
}

#button_2:hover a {
  color: black;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: var(--extra-color);
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button_2:hover #slide {
  left: 0;
}


/* 3rd Button */

#button_3 a {
  z-index: 1;
  transition: all .45s ease-Out;
}

#button_3:hover a {
  color: black;
}

#circle {
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  background: var(--extra-color);
  position: absolute;
  transition: all .5s ease-Out;
  top: 50%;
  left: 50%;
}

#button_3:hover #circle {
  width: 300px;
  height: 300px;
  opacity: 1;
  top: -120px;
  left: -70px;
}


/* 4th Button */

#button_4 a {
  z-index: 1;
  transition: all .45s ease-Out;
}

#underline {
  width: 100%;
  height: 4px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: var(--extra-color);
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button_4:hover #underline {
  left: 0;
}


/* 5th Button */

#button_5 a {
  z-index: 1;
  transition: all .45s ease-Out;
}

#button_5:hover a {
  color: black;
}

#translate {
  transform: rotate(45deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: var(--extra-color);
  position: absolute;
  transition: all .3s ease-Out;
}

#button_5:hover #translate {
  left: 0;
}


/* 6th Button */

#button_6 a {
  z-index: 1;
  transition: all .6s ease-Out;
}

#button_6:hover a {
  color: black;
}


#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 80px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.6s ease-in-out;
}

#button_6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -85px;
  top: -70px;
  background: var(--extra-color);
  transform: rotate(80deg);
}


/* 7th Button */

#button_7 a {
  position: relative;
  left: 0;
  transition: all .35s ease-Out;
}

#button_7:hover a {
  left: 150px;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: var(--extra-color);
  position: absolute;
  top: 0;
  left: -200px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
}

#button_7:hover #dub-arrow {
  left: 0;
}


/* 8th Button */

#button_8 {
  padding: 0;
  flex-basis: 172px;
  justify-content: flex-start;
}

#button_8 > a {
  padding: 10px 0;
  flex-basis: 100%;
  text-align: center;
}

#go_text {
  background-color: var(--extra-color);
  height: 100%;
  overflow: hidden;
  width: 0;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#button_8:hover > #go_text {
  width: 52px;
  transition: 0.3s;
}

/* 9th button */

#button_9 {
  padding: 10px 0;
  background-color: var(--bg-main-color);
}

#button_9 span {
  transition: .5s;
  position: relative;
}

#button_9 span:nth-child(1) {
  padding: 10px 10px 10px 30px;
  color: black;
  background: var(--extra-color);
}
#button_9 span:nth-child(2) {
  padding: 10px 30px 10px 10px;
  color: white;
  background: var(--main-color);
}

#button_9 span:nth-child(1):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--extra-color);
  padding: 10px 15px 10px 30px;
  transition: 0.5s;
  transform-origin: top;
  transform: rotateX(90deg) translateY(-50%);
}
#button_9:hover span:nth-child(1):before {
  transform: rotateX(0deg) translateY(0%);
} 

#button_9 span:nth-child(2):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-color);
  padding: 10px 30px 10px 15px;
  transition: 0.5s;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}
#button_9:hover span:nth-child(2):before {
  transform: rotateX(0deg) translateY(0%);
}

#button_9 span:nth-child(1):after {
content: attr(data-attr);
padding: 10px 15px 10px 30px;
position: absolute;
top: 0;
left: 0;
background: var(--main-color);
color: white;
transform-origin: bottom;
transform: rotateX(0deg) translateY(0%);
transition: 0.5s;
}

#button_9:hover span:nth-child(1):after {
transform: rotateX(90deg) translateY(50%);
}

#button_9 span:nth-child(2):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--extra-color);
  color: black;
  padding: 10px 30px 10px 15px;
  transition: 0.5s;
  transform-origin: top;
  transform: rotateX(0deg) translateY(0%);
}

#button_9:hover span:nth-child(2):after {
  transform: rotateX(90deg) translateY(-50%);
}


/* 10th Button */

#button_10 {
  background-size: 280% 100%;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  background-image: linear-gradient(to right, var(--main-color), var(--bg-main-color), var(--extra-color));
  transition: all .4s ease-in-out;
}

#button_10:hover {
  background-position: 100% 0;
  color: black;
  transition: all .4s ease-in-out;
}


/* 11th Button */

#button_11 {
  position: relative;
  display: inline-block;
  z-index: 0;
}

#button_11:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, var(--main-color), #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -3px;
  left:-3px;
  background-size: 400%;
  z-index: -1;
  filter: blur(7px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 100vh;
}

#button_11:hover:before {
  opacity: 1;
}

#button_11:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: var(--main-color);
  top: 3px;
  left: 3px;
  border-radius: 100vh;
  transition: opacity .3s ease-in-out;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* 12th Button */

#button_12 {
  transition: 0.3s;
}

#button_12:hover {
  box-shadow: inset 0 0 0 2em var(--extra-color);
  color: black;
}


/* 13th Button */

#button_13 {
  transition: 0.3s;
  overflow: visible;
}

#button_13:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 1rem rgba(255, 217, 0, 0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--extra-color); }
}


/* 14th Button */

#button_14 {
  transition: 0.5s ease-out;
}

#button_14:hover {
  box-shadow: inset -90px 0 0 0 var(--extra-color), inset 90px 0 0 0 var(--extra-color);
  color: black;
}


/* 15th Button */

#button_15 {
  transition: 0.3s;
}

#button_15:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--main-color);
  transform: translateY(-0.25em);
}


/* 16th Button */

#button_16 {
  transition: 0.25s;
  box-shadow: 0.2rem 0.2rem 0.1rem 0 var(--main-color), inset 0.1rem 0.1rem 0 0 var(--main-color);
  background-color: var(--extra-color);
  color: black;
}

#button_16:hover {
  box-shadow: 0 0 0 0, inset 200px 50px 0 0 var(--main-color);
  color: white;
  background-color: var(--main-color);
}